[Unit]
Description=Network Connector
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/network-connector --config /etc/default/network-connector
TimeoutStopSec=15s
KillMode=mixed
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
